<% title "BackupMyMail" %>

<% form_tag fetch_path, :method => :post do |f| %>
<p>
  Email Address:
  <%= text_field_tag "email" %>
</p>
<p>
  POP Mail Server:
  <%= text_field_tag "server" %>  
</p>
<p>POP Username:
  <%= text_field_tag "username" %></p>
<p>POP Password:
  <%= password_field_tag "password" %></p>
<p>Use SSL? (checkbox)
  <%= check_box_tag "ssl" %></p>
<p>Port:
  <%= text_field_tag "port" %></p>

<%= submit_tag "Submit" %>

<% end %>